# Homework 1. Frequent itemset

***Double Click here to edit this cell***

- Name: 
- Student ID: 
- Submission date:


#### We want to practice the python skills in Chap 2 Crash course
#### *Remark. Do not use numpy, pandas, sklearn, or any module implementing the solution directly. If you use them, you get 0 point*

## Frequent itemset
- ***Support*** is an indication of how frequently the itemset $X$ appears in the dataset $T$.
- The support of X with respect to T is defined as the proportion of transactions t in the dataset which contains the itemset X.

$$
{\displaystyle \mathrm {supp} (X)={\frac {|\{t\in T;X\subseteq t\}|}{|T|}}} 
$$

- Frequent itemset is an itemset whose support $\ge$ ***min_sup***.

## Data set

- Each line in the following can be imagined as a market basket, which contains items you buy.

In [1]:
# DO NOT EDIT THIS CELL
data_str = 'apple,beer,rice,chicken\n'
data_str += 'apple,beer,rice\n'
data_str += 'apple,beer\n'
data_str += 'apple,mango\n'
data_str += 'milk,beer,rice,chicken\n'
data_str += 'milk,beer,rice\n'
data_str += 'milk,beer\n'
data_str += 'milk,mango'

## Problem 1 (2 pts)

- Define a function ***record_gen*** generating a list of items each ***next***.
- It must be a generator.
- Use ***yield*** instead of ***return***

In [2]:
# YOUR CODE MUST BE HERE

In [3]:
# DO NOT EDIT THIS CELL
test = gen_record(data_str)
print(sorted(next(test)))

['apple', 'beer', 'chicken', 'rice']

**Your output must be:**
```
['apple', 'beer', 'chicken', 'rice']
```

In [4]:
# DO NOT EDIT THIS CELL
print(sorted(next(test)))

['apple', 'beer', 'rice']

**Your output must be:**
```
['apple', 'beer', 'rice']
```

## Problem 2 (10 pts)

- Define a function ***gen_frequent_1_itemset*** generating 1-itemset.
- It must be a generator.
- We want to find frequent 1-itemset (itemset containing only 1 item)
- Use "set, reduce, or map" at least once
- Your output must be a sorted list of items

In [5]:
# YOUR CODE MUST BE HERE

In [6]:
# DO NOT EDIT THIS CELL
dataset = list(gen_record(data_str))
print(sorted(list(gen_frequent_1_itemset(dataset, 0.5))))

['apple', 'beer', 'milk', 'rice']

**Your output must be (sorted list):**
```
['apple', 'beer', 'milk', 'rice']
```

In [7]:
# DO NOT EDIT THIS CELL
dataset = list(gen_record(data_str))
print(sorted(list(gen_frequent_1_itemset(dataset, 0.7))))

['beer']

**Your output must be (sorted list):**
```
['beer']
```

In [8]:
# DO NOT EDIT THIS CELL
dataset = list(gen_record(data_str))
print(sorted(list(gen_frequent_1_itemset(dataset, 0.2))))

['apple', 'beer', 'chicken', 'mango', 'milk', 'rice']

**Your output must be (sorted list):**
```
['apple', 'beer', 'chicken', 'mango', 'milk', 'rice']
```

## Problem 3 (10 pts)

- Define a function ***gen_frequent_2_itemset*** generating 2-itemset.
- It must be a generator.
- We want to find frequent 2-itemset (itemset containing only 2 items)
- Use "set, reduce, or map" at least once
- Your output must be a sorted list of sorted 2-tuple

In [9]:
# YOUR CODE MUST BE HERE

In [10]:
# DO NOT EDIT THIS CELL
dataset = list(gen_record(data_str))
print(sorted(list(gen_frequent_2_itemset(dataset, 0.5))))

[('beer', 'rice')]

**Your output must be:**
```
[('beer', 'rice')]
```

In [11]:
# DO NOT EDIT THIS CELL
dataset = list(gen_record(data_str))
print(sorted(list(gen_frequent_2_itemset(dataset, 0.3))))

[('apple', 'beer'), ('beer', 'milk'), ('beer', 'rice')]

**Your output must be:**
```
[('apple', 'beer'), ('beer', 'milk'), ('beer', 'rice')]
```

In [12]:
# DO NOT EDIT THIS CELL
dataset = list(gen_record(data_str))
print(sorted(list(gen_frequent_2_itemset(dataset, 0.2))))

[('apple', 'beer'), ('apple', 'rice'), ('beer', 'chicken'), ('beer', 'milk'), ('beer', 'rice'), ('chicken', 'rice'), ('milk', 'rice')]

**Your output must be:**
```
[('apple', 'beer'), ('apple', 'rice'), ('beer', 'chicken'), ('beer', 'milk'), ('beer', 'rice'), ('chicken', 'rice'), ('milk', 'rice')]
```

## Problem 4 (10 pts)

- Define a function ***gen_frequent_3_itemset*** generating 3-itemset.
- It must be a generator.
- We want to find frequent 3-itemset (itemset containing only 3 items)
- Use "set, reduce, or map" at least once
- Your output must be a sorted list of sorted 3-tuple

In [13]:
# YOUR CODE MUST BE HERE

In [14]:
# DO NOT EDIT THIS CELL
dataset = list(gen_record(data_str))
print(sorted(list(gen_frequent_3_itemset(dataset, 0.25))))

[('apple', 'beer', 'rice'), ('beer', 'chicken', 'rice'), ('beer', 'milk', 'rice')]

**Your output must be:**
```
[('apple', 'beer', 'rice'), ('beer', 'chicken', 'rice'), ('beer', 'milk', 'rice')]
```

In [15]:
# DO NOT EDIT THIS CELL
dataset = list(gen_record(data_str))
print(sorted(list(gen_frequent_3_itemset(dataset, 0.1))))

[('apple', 'beer', 'chicken'), ('apple', 'beer', 'rice'), ('apple', 'chicken', 'rice'), ('beer', 'chicken', 'milk'), ('beer', 'chicken', 'rice'), ('beer', 'milk', 'rice'), ('chicken', 'milk', 'rice')]

**Your output must be:**
```
[('apple', 'beer', 'chicken'), ('apple', 'beer', 'rice'), ('apple', 'chicken', 'rice'), ('beer', 'chicken', 'milk'), ('beer', 'chicken', 'rice'), ('beer', 'milk', 'rice'), ('chicken', 'milk', 'rice')]
```

In [16]:
# DO NOT EDIT THIS CELL
dataset = list(gen_record(data_str))
print(sorted(list(gen_frequent_3_itemset(dataset, 0.3))))

[]

**Your output must be:**
```
[]
```

## Problem 5 (20 pts)

- We want to check the performance of your implementation
- bread_basket.csv must be in the folder of this notebook

In [17]:
import pandas as pd
bread = pd.read_csv('bread_basket.csv')

In [18]:
bread.head()

   Transaction           Item         date_time period_day weekday_weekend
0            1          Bread  30-10-2016 09:58    morning         weekend
1            2   Scandinavian  30-10-2016 10:05    morning         weekend
2            2   Scandinavian  30-10-2016 10:05    morning         weekend
3            3  Hot chocolate  30-10-2016 10:07    morning         weekend
4            3            Jam  30-10-2016 10:07    morning         weekend

In [19]:
bread_transactions = bread[["Transaction", "Item"]]
bread_transactions.head(10)

   Transaction           Item
0            1          Bread
1            2   Scandinavian
2            2   Scandinavian
3            3  Hot chocolate
4            3            Jam
5            3        Cookies
6            4         Muffin
7            5         Coffee
8            5         Pastry
9            5          Bread

In [20]:
bread_transactions.tail(10)

       Transaction              Item
20497         9681               Tea
20498         9681    Spanish Brunch
20499         9681  Christmas common
20500         9682            Muffin
20501         9682      Tacos/Fajita
20502         9682            Coffee
20503         9682               Tea
20504         9683            Coffee
20505         9683            Pastry
20506         9684         Smoothies

In [21]:
bread_transactions.shape

(20507, 2)

In [22]:
bread_transactions_list = bread_transactions.values.tolist()
bread_transactions_list[:10]

[[1, 'Bread'],
 [2, 'Scandinavian'],
 [2, 'Scandinavian'],
 [3, 'Hot chocolate'],
 [3, 'Jam'],
 [3, 'Cookies'],
 [4, 'Muffin'],
 [5, 'Coffee'],
 [5, 'Pastry'],
 [5, 'Bread']]

In [23]:
import random
random.shuffle(bread_transactions_list)
bread_transactions_list[:10]

[[7133, 'Cookies'],
 [1386, 'Coffee'],
 [8216, 'Coffee'],
 [7305, 'Chicken Stew'],
 [9015, 'Soup'],
 [5208, 'Coke'],
 [8846, 'Coffee'],
 [2077, 'Bread'],
 [7106, 'Sandwich'],
 [421, 'Bread']]

### Transform bread_transactions_list to bread_dataset, which is a list of lists of items

In [24]:
# YOUR CODE MUST BE HERE

In [ ]:
# DO NOT EDIT THIS CELL

import time
start = time.time()
print(sorted(list(gen_frequent_3_itemset(bread_dataset, min_sup=0.01))))
end = time.time()

lapse = end - start
total = 10
weight = 1.5
grace = 6.0
my_point = int(total / (weight ** (lapse // grace)))
print(f'Total time taken : {lapse} seconds')
print(f'My point is {my_point}')

**Your output must be (total time taken must be around 4 seconds. Your point depends on time taken):**
```
[('Bread', 'Cake', 'Coffee'), ('Bread', 'Coffee', 'Pastry'), ('Cake', 'Coffee', 'Tea')]
Total time taken : 4.363343238830566 seconds
My point is 10
```

In [ ]:
# DO NOT EDIT THIS CELL

import time
start = time.time()
print(sorted(list(gen_frequent_2_itemset(bread_dataset, min_sup=0.03))))
end = time.time()

lapse = end - start
total = 10
weight = 1.5
grace = 2.0
my_point = int(total / (weight ** (lapse // grace)))
print(f'Total time taken : {lapse} seconds')
print(f'My point is {my_point}')

**Your output must be (total time taken must be around 1.5 seconds. Your point depends on time taken):**
```
[('Bread', 'Coffee'), ('Cake', 'Coffee'), ('Coffee', 'Medialuna'), ('Coffee', 'Pastry'), ('Coffee', 'Sandwich'), ('Coffee', 'Tea')]
Total time taken : 1.4521141052246094 seconds
My point is 10
```

## Ethics:
If you cheat, you will get negative of the total points.
If the homework total is 22 and you cheat, you get -22.

## What to submit

- Run **all cells** after restarting the kernel
- Goto "File -> Print Preview"
- Print the page as pdf
- Submit the pdf file in google classroom
- Pdf file name must be in a form of: homework_1_홍길동_202300001.pdf
- No late homeworks will be accepted
- Your homework will be graded on the basis of correctness, performance, and programming skills