# 영업 성공 여부 분류 경진대회

# 할 것

결측치 이상치 처리
파생변수 생성

## 1. 데이터 확인

### 필수 라이브러리

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import (
    accuracy_score,
    confusion_matrix,
    f1_score,
    precision_score,
    recall_score,
)
from sklearn.model_selection import StratifiedKFold
from sklearn.utils.class_weight import compute_class_weight
from catboost import CatBoostClassifier
from sklearn.metrics import f1_score

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

def seed_everything(seed):
    np.random.seed(seed) #numpy를 사용할 경우 고정
seed_everything(42)

### 데이터 셋 읽어오기

In [2]:
df_train = pd.read_csv("train.csv") # 학습용 데이터
df_test = pd.read_csv("submission.csv") # 테스트 데이터(제출파일의 데이터)

In [3]:
df_train[:10]

,bant_submit,customer_country,business_unit,com_reg_ver_win_rate,customer_idx,customer_type,enterprise,historical_existing_cnt,id_strategic_ver,it_strategic_ver,idit_strategic_ver,customer_job,lead_desc_length,inquiry_type,product_category,product_subcategory,product_modelname,customer_country.1,customer_position,response_corporate,expected_timeline,ver_cus,ver_pro,ver_win_rate_x,ver_win_ratio_per_bu,business_area,business_subarea,lead_owner,is_converted
0,1.00,/Quezon City/Philippines,AS,0.066667,32160,End-Customer,Enterprise,NaN,NaN,NaN,NaN,purchasing,62,Quotation or purchase consultation,multi-split,NaN,NaN,/Quezon City/Philippines,entry level,LGEPH,less than 3 months,1,0,0.003079,0.026846,corporate / office,Engineering,0,True
1,1.00,/PH-00/Philippines,AS,0.066667,23122,End-Customer,Enterprise,12.0,NaN,NaN,NaN,media and communication,96,Quotation or purchase consultation,multi-split,NaN,NaN,/PH-00/Philippines,ceo/founder,LGEPH,less than 3 months,1,0,0.003079,0.026846,corporate / office,Advertising,1,True
2,1.00,/Kolkata /India,AS,0.088889,1755,End-Customer,Enterprise,144.0,NaN,NaN,NaN,engineering,56,Product Information,single-split,NaN,NaN,/Kolkata /India,partner,LGEIL,less than 3 months,1,0,0.003079,0.026846,corporate / office,Construction,2,True
3,1.00,/Bhubaneswar/India,AS,0.088889,4919,End-Customer,Enterprise,NaN,NaN,NaN,NaN,entrepreneurship,44,Quotation or purchase consultation,vrf,NaN,NaN,/Bhubaneswar/India,ceo/founder,LGEIL,less than 3 months,1,0,0.003079,0.026846,corporate / office,IT/Software,3,True
4,1.00,/Hyderabad/India,AS,0.088889,17126,Specifier/ Influencer,Enterprise,NaN,NaN,NaN,NaN,consulting,97,Quotation or purchase consultation,multi-split,NaN,NaN,/Hyderabad/India,partner,LGEIL,less than 3 months,0,0,0.003079,0.026846,corporate / office,NaN,4,True
5,1.00,/Abuja/Nigeria,AS,0.040816,16328,End-Customer,SMB,NaN,NaN,NaN,NaN,program and project management,1114,Quotation or purchase consultation,chiller,NaN,NaN,/Abuja/Nigeria,manager,LGEAF,less than 3 months,1,0,0.003079,0.026846,corporate / office,Engineering,5,True
6,0.75,"/Jeddah, KSA/Saudi Arabia",AS,0.040816,20664,End-Customer,SMB,NaN,NaN,NaN,NaN,engineering,420,Quotation or purchase consultation,single-split,NaN,NaN,"/Jeddah, KSA/Saudi Arabia",manager,LGESJ,NaN,1,0,0.003079,0.026846,corporate / office,Engineering,6,True
7,1.00,/Guwahati/India,AS,0.088889,17983,End-Customer,SMB,NaN,NaN,NaN,NaN,sales,205,Quotation or purchase consultation,vrf,NaN,NaN,/Guwahati/India,partner,LGEIL,less than 3 months,1,0,0.003079,0.026846,corporate / office,Manufacturing,7,True
8,0.75,/Cebu city/Philippines,AS,0.066667,30867,Specifier/ Influencer,Enterprise,3.0,NaN,NaN,NaN,other,103,Quotation or purchase consultation,multi-split,NaN,NaN,/Cebu city/Philippines,vice president,LGEPH,less than 3 months,0,0,0.003079,0.026846,corporate / office,Construction,8,True
9,0.75,"/hauz khas,delhi/India",AS,0.088889,6084,End-Customer,SMB,NaN,NaN,NaN,NaN,other,252,Quotation or purchase consultation,vrf,NaN,NaN,"/hauz khas,delhi/India",manager,LGEIL,3 months ~ 6 months,1,0,0.003079,0.026846,corporate / office,NaN,9,True

In [4]:
df_train['business_unit'].unique()

array(['AS', 'ID', 'IT', 'Solution', 'CM'], dtype=object)

In [5]:
# 결측치가 있는 변수 및 결측률 파악 

mis_val = df_train.isnull().sum()
mis_val_bool = mis_val >= 1
mis_val_df = pd.concat([mis_val, mis_val_bool], axis = 1)
mis_val_df = mis_val_df.rename(columns = {0 : 'mis_val', 1 : 'mis_val_bool'})

mis_val_data = mis_val_df.loc[mis_val_df['mis_val_bool'] == True, :]
mis_val_data['ratio'] = mis_val_data['mis_val'] / 59299
mis_val_data_sorted = mis_val_data.sort_values(by='ratio', ascending=True)
mis_val_data_sorted

/tmp/ipykernel_114/929980573.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mis_val_data['ratio'] = mis_val_data['mis_val'] / 59299

                         mis_val  mis_val_bool     ratio
inquiry_type                 941          True  0.015869
customer_country.1           982          True  0.016560
customer_country             982          True  0.016560
customer_job               18733          True  0.315908
product_category           19374          True  0.326717
expected_timeline          30863          True  0.520464
business_area              40882          True  0.689421
ver_win_rate_x             40882          True  0.689421
customer_type              43961          True  0.741345
ver_win_ratio_per_bu       43995          True  0.741918
com_reg_ver_win_rate       44731          True  0.754330
historical_existing_cnt    45543          True  0.768023
product_subcategory        50064          True  0.844264
product_modelname          50070          True  0.844365
business_subarea           53773          True  0.906811
idit_strategic_ver         54734          True  0.923017
id_strategic_ver           55855          True  0.941921
it_strategic_ver           58178          True  0.981096

In [6]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59299 entries, 0 to 59298
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   bant_submit              59299 non-null  float64
 1   customer_country         58317 non-null  object
 2   business_unit            59299 non-null  object
 3   com_reg_ver_win_rate     14568 non-null  float64
 4   customer_idx             59299 non-null  int64
 5   customer_type            15338 non-null  object
 6   enterprise               59299 non-null  object
 7   historical_existing_cnt  13756 non-null  float64
 8   id_strategic_ver         3444 non-null   float64
 9   it_strategic_ver         1121 non-null   float64
 10  idit_strategic_ver       4565 non-null   float64
 11  customer_job             40566 non-null  object
 12  lead_desc_length         59299 non-null  int64
 13  inquiry_type             58358 non-null  object
 14  product_category         39925 non-null  object
 15  product_subcategory      9235 non-null   object
 16  product_modelname        9229 non-null   object
 17  customer_country.1       58317 non-null  object
 18  customer_position        59299 non-null  object
 19  response_corporate       59299 non-null  object
 20  expected_timeline        28436 non-null  object
 21  ver_cus                  59299 non-null  int64
 22  ver_pro                  59299 non-null  int64
 23  ver_win_rate_x           18417 non-null  float64
 24  ver_win_ratio_per_bu     15304 non-null  float64
 25  business_area            18417 non-null  object
 26  business_subarea         5526 non-null   object
 27  lead_owner               59299 non-null  int64
 28  is_converted             59299 non-null  bool
dtypes: bool(1), float64(8), int64(5), object(15)
memory usage: 12.7+ MB

### 전처리
customer_country.1 열 삭제

float -> 범주형 데이터로 변환 ['it_strategic_ver','id_strategic_ver','idit_strategic_ver','lead_owner','ver_cus','ver_pro','customer_idx']

inquiry_type,customer_country - 대소문자 통합

customer_country 결측치 행 삭제

이상치 - MinMaxScale

할거 - 나라,지역 전처리. 다르게 표시된 str 처리

컬럼 중요도 처리

In [7]:
# customer_country , customer_country.1의 값이 일치함.
pre_train = df_train.drop(labels = ['customer_country.1'],axis=1)
pre_test = df_test.drop(labels = ['customer_country.1','id'],axis=1)

dtypes = pre_train.dtypes

# 각 열의 고유값 개수 확인
unique_value_counts = pre_train.nunique()

# 수치형 변수가 아닌 컬럼을 저장할 리스트 초기화
object_columns = []

# 각 열에 대해 데이터 타입이 'object'이거나 고유값 개수가 일정 이하인 경우를 확인하여 non_numeric_columns 리스트에 추가
for col in pre_train.columns:
    if dtypes[col] == 'object':
        object_columns.append(col)

# 수치형 변수가 아닌 컬럼 출력
print("범주형 컬럼:", object_columns,"\n")
print("수치형 컬럼 :", list(set(pre_train.columns)-set(object_columns)))

범주형 컬럼: ['customer_country', 'business_unit', 'customer_type', 'enterprise', 'customer_job', 'inquiry_type', 'product_category', 'product_subcategory', 'product_modelname', 'customer_position', 'response_corporate', 'expected_timeline', 'business_area', 'business_subarea']

수치형 컬럼 : ['ver_win_rate_x', 'id_strategic_ver', 'com_reg_ver_win_rate', 'ver_cus', 'lead_desc_length', 'ver_pro', 'historical_existing_cnt', 'bant_submit', 'idit_strategic_ver', 'customer_idx', 'ver_win_ratio_per_bu', 'it_strategic_ver', 'is_converted', 'lead_owner']

In [8]:
"""
범주형 데이터에 넣을 것들 후보
'it_strategic_ver' 'id_strategic_ver' 'idit_strategic_ver' -> array([nan,  1.])
"""
columns_categorized = ['it_strategic_ver','id_strategic_ver','idit_strategic_ver'] + ['lead_owner','ver_cus','ver_pro','customer_idx']

for n in columns_categorized:
    pre_train[n] = pre_train[n].fillna(0)
    pre_train[n] = pre_train[n].astype('int').astype('object')
    print(n,': ',pre_train[n].unique())

it_strategic_ver :  [0 1]
id_strategic_ver :  [0 1]
idit_strategic_ver :  [0 1]
lead_owner :  [0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27
 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51
 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75
 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99
 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 117 119
 120 116 124 125 126 128 130 134 133 140 145 146 147 148 149 150 151 152
 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170
 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188
 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206
 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224
 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242
 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260
 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278
 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296
 297 298 299 300 301 302 303 304 305 306 310 312 318 319 321 328 329 333
 337 338 339 341 343 344 345 346 349 350 309 355 357 348 358 359 361 363
 307 364 365 366 367 335 369 370 371 378 340 380 381 376 382 383 384 385
 386 387 388 389 390 391 392 393 394 395 396 397 398 399 400 401 402 403
 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421
 422 423 424 426 430 432 433 434 436 437 441 442 443 444 445 446 440 447
 448 449 450 451 452 332 352 453 454 455 456 457 458 459 460 461 314 462
 463 464 465 324 466 467 468 469 470 471 472 473 474 475 476 477 478 479
 480 481 482 483 484 485 486 487 488 489 490 491 492 493 494 495 496 497
 498 360 499 500 501 502 503 504 505 506 507 508 509 510 511 512 513 342
 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529 530 531
 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547 548 549
 550 551 552 553 555 556 368 334 557 559 563 311 564 569 568 578 580 583
 584 585 574 570 354 592 594 596 597 598 599 123 600 601 602 603 604 605
 606 607 608 609 610 138 611 612 613 614 615 616 617 137 618 619 620 621
 622 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637 638 142
 639 640 641 642 643 644 645 121 646 647 648 649 650 651 652 653 654 655
 656 657 118 658 659 660 661 662 663 664 665 666 667 668 669 670 122 671
 672 673 674 675 676 677 678 679 680 681 682 683 684 685 139 686 687 688
 689 690 691 692 693 694 695 696 697 698 699 700 701 702 703 704 705 706
 707 708 709 710 711 712 713 143 714 715 716 717 718 719 720 721 722 724
 725 726 729 730 737 738 728 741 742 744 746 129 753 755 756 757 758 745
 763 765 767 768 732 771 774 776 778 779 780 781 782 783 784 351 785 786
 787 788 789 790 791 792 793 794 795 796 797 798 799 800 801 802 803 804
 805 806 807 808 809 810 811 812 813 814 815 816 817 429 818 819 820 822
 825 428 827 435 831 438 832 835 372 837 838 839 374 589 567 575 375 833
 439 841 842 843 845 572 846 847 848 849 362 330 851 852 141 853 854 855
 856 857 858 859 860 861 862 864 865 593 869 870 871 873 876 877 834 881
 882 883 885 886 887 888 889 890 891 764 894 895 896 897 898 899 900 901
 902 903 579 904 905 906 910 326 915 916 917 919 920 921 826 431 924 925
 926 927 928 929 932 933 875 934 935 936 937 938 425 941 942 943 944 823
 946 947 948 949 760 950 951 952 754 953 954 955 956 957 958 959 762 743
 961 968 971 972 973 974 975 976 582 878 909 979 980 981 982 983 984 931
 985 986 987 988 989 990 991 992 993 994 995 586 996 317 560 997 998 912
 1000 1001 1002 1003 1004 1005 1006 1007 1008 759 1009 761 1010 1011 1012
 1013 739 1014 1015 970 740 1016 1017 1018 1019 1020 1021 1030 1037 1038
 1040 1041 1042 1043 1044 1027 1045 1047 1048 1049 1031 144 1065 1066 1067
 1068 1069 1070 1071 1072 1073 1074 1075 1076 1077 1078 1079 1080 1081
 1082 879 1084 1085 566 1086 1088 1089 1090 1091 325 1092 1093 1094 1095
 923 1096 1083 1098 775 1039 1099 1101 1102 1103 977 1105 1106 1109 1110
 964 1111 1114]
ver_cus :  [1 0]
ver_pro :  [0 1]
customer_idx :  [32160 23122 1755 ... 19249 40327 30268]

In [9]:
object_columns

['customer_country',
 'business_unit',
 'customer_type',
 'enterprise',
 'customer_job',
 'inquiry_type',
 'product_category',
 'product_subcategory',
 'product_modelname',
 'customer_position',
 'response_corporate',
 'expected_timeline',
 'business_area',
 'business_subarea']

In [10]:
pre_train['it_strategic_ver'].head()

0    0
1    0
2    0
3    0
4    0
Name: it_strategic_ver, dtype: object

In [11]:
def preprocess_1(col):
    pre_train[col] = pre_train[col].str.lower()
    pre_test[col] = pre_test[col].str.lower()
    
    mask_train = pre_train[col].notnull()
    mask_test = pre_test[col].notnull()
    pre_train.loc[mask_train, col] = pre_train.loc[mask_train, col].apply(lambda x: x.replace(" ", ""))
    pre_test.loc[mask_test, col] = pre_test.loc[mask_test, col].apply(lambda x: x.replace(" ", ""))

In [12]:
for n in object_columns:
    preprocess_1(n)
    
#test data에 customer_country = nan 이 없어서 행삭제 해도 될듯. 삭제양도 많지 않음.
pre_train = pre_train.dropna(subset=['customer_country'])

object_columns = object_columns + ['it_strategic_ver','id_strategic_ver','idit_strategic_ver','lead_owner','ver_cus','ver_pro','customer_idx']
numerical_columns = list(set(pre_train.columns)-set(object_columns))

# 보류
# """
pre_train['customer_country'] = pre_train['customer_country'].apply(lambda x: x.split('/')[-1])
pre_test['customer_country'] = pre_test['customer_country'].apply(lambda x: x.split('/')[-1])
# """

In [31]:
pre_train[pre_train['customer_country']==''].count()

bant_submit                1998
customer_country           1998
business_unit              1998
com_reg_ver_win_rate        117
customer_idx               1998
customer_type              1070
enterprise                 1998
historical_existing_cnt     355
id_strategic_ver           1998
it_strategic_ver           1998
idit_strategic_ver         1998
customer_job                828
lead_desc_length           1998
inquiry_type               1998
product_category             50
product_subcategory          36
product_modelname            44
customer_position          1998
response_corporate         1998
expected_timeline          1876
ver_cus                    1998
ver_pro                    1998
ver_win_rate_x              132
ver_win_ratio_per_bu        126
business_area               132
business_subarea             24
lead_owner                 1998
is_converted               1998
dtype: int64

In [14]:
# 각 컬럼별로 이상치 판별 임계값을 계산하는 함수
def find_outlier_thresholds(data, threshold=3):
    thresholds = {}
    min_outliers = {}  # 각 컬럼별 최소 이상치 값을 저장하기 위한 딕셔너리
    
#     num_columns = ['com_reg_ver_win_rate', 'ver_pro', 'ver_win_ratio_per_bu', 
#                    'idit_strategic_ver', 'lead_owner', 'customer_idx', 'bant_submit', 
#                    'id_strategic_ver', 'is_converted', 'historical_existing_cnt', 'it_strategic_ver', 
#                    'ver_win_rate_x', 'lead_desc_length', 'ver_cus']
    
    for column in numerical_columns:
        # 각 컬럼의 Z-Score 계산
        z_scores = (data[column] - data[column].mean()) / data[column].std()
        
        # Z-Score가 임계값보다 큰 데이터를 이상치로 판단
        outliers = data[np.abs(z_scores) > threshold]
        
        # 이상치 판별 임계값 저장
        thresholds[column] = {
            'threshold': threshold,
            'outliers_count': len(outliers),
            'outliers_indices': list(outliers.index)
        }
        
        # 최소 이상치 값 찾기
        if len(outliers) > 0:
            min_outliers[column] = outliers[column].min()
    
    return thresholds, min_outliers

# 예시 데이터 프레임 생성 (스트링 데이터를 가진 'C' 컬럼 추가)

# 이상치 판별 임계값 계산 (임계값은 3으로 설정)
outlier_thresholds, min_outliers = find_outlier_thresholds(pre_train, threshold=3)

# Y_LABEL 값에 따라 이상치 개수와 각 컬럼별 최소 이상치 값을 구분하여 출력
for column, threshold_info in outlier_thresholds.items():
    print(f"Column: {column}")
    print(f"Threshold: {threshold_info['threshold']}")
    
    outliers_true = len([idx for idx in threshold_info['outliers_indices'] if pre_train.loc[idx, 'is_converted'] == True])
    print(f"Number of Outliers : {outliers_true}")
    outliers_false = len([idx for idx in threshold_info['outliers_indices'] if pre_train.loc[idx, 'is_converted'] == False])
    print(f"Number of Outliers : {outliers_false}")
    
    
    # 최소 이상치 값 출력
    if column in min_outliers:
        print(f"Min Outlier Value: {min_outliers[column]}")

    print()

Column: ver_win_rate_x
Threshold: 3
Number of Outliers : 0
Number of Outliers : 0

Column: com_reg_ver_win_rate
Threshold: 3
Number of Outliers : 340
Number of Outliers : 493
Min Outlier Value: 0.6153846153846154

Column: lead_desc_length
Threshold: 3
Number of Outliers : 189
Number of Outliers : 1186
Min Outlier Value: 475

Column: historical_existing_cnt
Threshold: 3
Number of Outliers : 22
Number of Outliers : 43
Min Outlier Value: 158.0

Column: bant_submit
Threshold: 3
Number of Outliers : 0
Number of Outliers : 0

Column: ver_win_ratio_per_bu
Threshold: 3
Number of Outliers : 20
Number of Outliers : 82
Min Outlier Value: 0.2272727272727272

Column: is_converted
Threshold: 3
Number of Outliers : 4715
Number of Outliers : 0
Min Outlier Value: True

In [15]:
features = ['com_reg_ver_win_rate','lead_desc_length','ver_win_ratio_per_bu','historical_existing_cnt']

print(pre_train[features].min())
print(pre_train[features].max())

com_reg_ver_win_rate       0.003788
lead_desc_length           1.000000
ver_win_ratio_per_bu       0.011583
historical_existing_cnt    0.000000
dtype: float64
com_reg_ver_win_rate          1.000000
lead_desc_length           1264.000000
ver_win_ratio_per_bu          0.285714
historical_existing_cnt    1394.000000
dtype: float64

In [16]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

pre_train[features] = scaler.fit_transform(pre_train[features]) # fit_transform
pre_test[features] = scaler.transform(pre_test[features]) # transform

In [27]:
print(pre_train[features].min())
print(pre_train[features].max())

com_reg_ver_win_rate       0.0
lead_desc_length           0.0
ver_win_ratio_per_bu       0.0
historical_existing_cnt    0.0
dtype: float64
com_reg_ver_win_rate       1.0
lead_desc_length           1.0
ver_win_ratio_per_bu       1.0
historical_existing_cnt    1.0
dtype: float64

In [17]:
pre_train[features].head()

,com_reg_ver_win_rate,lead_desc_length,ver_win_ratio_per_bu,historical_existing_cnt
0,0.063118,0.048298,0.055676,NaN
1,0.063118,0.075218,0.055676,0.008608
2,0.085425,0.043547,0.055676,0.103300
3,0.085425,0.034046,0.055676,NaN
4,0.085425,0.076010,0.055676,NaN

In [18]:
pre_train.head()

,bant_submit,customer_country,business_unit,com_reg_ver_win_rate,customer_idx,customer_type,enterprise,historical_existing_cnt,id_strategic_ver,it_strategic_ver,idit_strategic_ver,customer_job,lead_desc_length,inquiry_type,product_category,product_subcategory,product_modelname,customer_position,response_corporate,expected_timeline,ver_cus,ver_pro,ver_win_rate_x,ver_win_ratio_per_bu,business_area,business_subarea,lead_owner,is_converted
0,1.0,philippines,as,0.063118,32160,end-customer,enterprise,NaN,0,0,0,purchasing,0.048298,quotationorpurchaseconsultation,multi-split,NaN,NaN,entrylevel,lgeph,lessthan3months,1,0,0.003079,0.055676,corporate/office,engineering,0,True
1,1.0,philippines,as,0.063118,23122,end-customer,enterprise,0.008608,0,0,0,mediaandcommunication,0.075218,quotationorpurchaseconsultation,multi-split,NaN,NaN,ceo/founder,lgeph,lessthan3months,1,0,0.003079,0.055676,corporate/office,advertising,1,True
2,1.0,india,as,0.085425,1755,end-customer,enterprise,0.103300,0,0,0,engineering,0.043547,productinformation,single-split,NaN,NaN,partner,lgeil,lessthan3months,1,0,0.003079,0.055676,corporate/office,construction,2,True
3,1.0,india,as,0.085425,4919,end-customer,enterprise,NaN,0,0,0,entrepreneurship,0.034046,quotationorpurchaseconsultation,vrf,NaN,NaN,ceo/founder,lgeil,lessthan3months,1,0,0.003079,0.055676,corporate/office,it/software,3,True
4,1.0,india,as,0.085425,17126,specifier/influencer,enterprise,NaN,0,0,0,consulting,0.076010,quotationorpurchaseconsultation,multi-split,NaN,NaN,partner,lgeil,lessthan3months,0,0,0.003079,0.055676,corporate/office,NaN,4,True

## 3. 모델 학습

### 모델 학습

In [19]:
# Stratified K-Fold 교차 검증 설정
n_splits = 5  # 원하는 Fold 수
skf = StratifiedKFold(n_splits=n_splits, shuffle=True, random_state=42)

# 최적의 하이퍼파라미터 설정
best_params = {'depth': 10, 'iterations': 1500, 'learning_rate': 0.01}

# 교차 검증 수행 및 평가 지표 저장
macro_f1_scores = []
probabilities_list = []
best_f1_score = 0

train_x = pre_train.drop(columns=['is_converted'])
train_y = pre_train['is_converted'].astype(int)
train_x = train_x.fillna(0)

class_weights = compute_class_weight('balanced', classes=[0, 1], y=train_y)

X = train_x.values
y = train_y.values

for train_index, valid_index in skf.split(X, y):
    X_train, X_valid = X[train_index], X[valid_index]
    y_train, y_valid = y[train_index], y[valid_index]

    # CatBoost 모델 생성 및 학습
    model = CatBoostClassifier(loss_function='Logloss', cat_features=np.where(pre_train.dtypes == np.object)[0], eval_metric='F1', 
                               random_seed=42, verbose=500, **best_params, class_weights = {0:class_weights[0], 1:class_weights[1]})
    
    model.fit(X_train, y_train,)

    # 검증 데이터에 대한 예측 및 평가 (Macro F1 Score)
    valid_predictions = model.predict(X_valid)
    valid_predictions = np.array([True if pred == 'True' else False for pred in valid_predictions])
    
    macro_f1 = f1_score(y_valid, valid_predictions, average='macro')
    macro_f1_scores.append(macro_f1)

    if macro_f1 > best_f1_score:
        best_f1_score = macro_f1
        best_classification_model = model
        y_val = y_valid
        pred_val = valid_predictions

# Macro F1 Score 출력
print("Macro F1 Scores:", macro_f1_scores)

/tmp/ipykernel_114/1010006209.py:27: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  model = CatBoostClassifier(loss_function='Logloss', cat_features=np.where(pre_train.dtypes == np.object)[0], eval_metric='F1',

0:	learn: 0.8749100	total: 317ms	remaining: 7m 54s
500:	learn: 0.9683237	total: 1m 27s	remaining: 2m 54s
1000:	learn: 0.9802611	total: 2m 51s	remaining: 1m 25s
1499:	learn: 0.9856594	total: 4m 19s	remaining: 0us

/tmp/ipykernel_114/1010006209.py:27: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  model = CatBoostClassifier(loss_function='Logloss', cat_features=np.where(pre_train.dtypes == np.object)[0], eval_metric='F1',

0:	learn: 0.8750949	total: 199ms	remaining: 4m 57s
500:	learn: 0.9669545	total: 1m 27s	remaining: 2m 53s
1000:	learn: 0.9794610	total: 2m 49s	remaining: 1m 24s
1499:	learn: 0.9836571	total: 3m 59s	remaining: 0us

/tmp/ipykernel_114/1010006209.py:27: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  model = CatBoostClassifier(loss_function='Logloss', cat_features=np.where(pre_train.dtypes == np.object)[0], eval_metric='F1',

0:	learn: 0.8696189	total: 183ms	remaining: 4m 34s
500:	learn: 0.9658189	total: 1m 26s	remaining: 2m 53s
1000:	learn: 0.9780892	total: 2m 50s	remaining: 1m 25s
1499:	learn: 0.9845072	total: 4m 9s	remaining: 0us

/tmp/ipykernel_114/1010006209.py:27: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  model = CatBoostClassifier(loss_function='Logloss', cat_features=np.where(pre_train.dtypes == np.object)[0], eval_metric='F1',

0:	learn: 0.8641126	total: 204ms	remaining: 5m 5s
500:	learn: 0.9668466	total: 1m 27s	remaining: 2m 54s
1000:	learn: 0.9783303	total: 2m 53s	remaining: 1m 26s
1499:	learn: 0.9845816	total: 4m 17s	remaining: 0us

/tmp/ipykernel_114/1010006209.py:27: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  model = CatBoostClassifier(loss_function='Logloss', cat_features=np.where(pre_train.dtypes == np.object)[0], eval_metric='F1',

0:	learn: 0.8418136	total: 47.7ms	remaining: 1m 11s
500:	learn: 0.9668783	total: 1m 27s	remaining: 2m 54s
1000:	learn: 0.9789804	total: 2m 45s	remaining: 1m 22s
1499:	learn: 0.9810951	total: 3m 45s	remaining: 0us
Macro F1 Scores: [0.4789367880276971, 0.4789367880276971, 0.47893490595541255, 0.47893490595541255, 0.47893490595541255]

In [ ]:
def get_clf_eval(y_test, y_pred=None):
    confusion = confusion_matrix(y_test, y_pred, labels=[True, False])
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred, labels=[True, False])
    recall = recall_score(y_test, y_pred)
    F1 = f1_score(y_test, y_pred, labels=[True, False])

    print("오차행렬:\n", confusion)
    print("\n정확도: {:.4f}".format(accuracy))
    print("정밀도: {:.4f}".format(precision))
    print("재현율: {:.4f}".format(recall))
    print("F1: {:.4f}".format(F1))

In [ ]:
get_clf_eval(y_val, pred_val)

## 4. 제출하기

### 테스트 데이터 예측

In [20]:
for n in columns_categorized:
    pre_test[n] = pre_test[n].fillna(0)
    pre_test[n] = pre_test[n].astype('int').astype('object')

In [21]:
# 예측에 필요한 데이터 분리
x_test = pre_test.drop(["is_converted"], axis=1)
x_test.head()

,bant_submit,customer_country,business_unit,com_reg_ver_win_rate,customer_idx,customer_type,enterprise,historical_existing_cnt,id_strategic_ver,it_strategic_ver,idit_strategic_ver,customer_job,lead_desc_length,inquiry_type,product_category,product_subcategory,product_modelname,customer_position,response_corporate,expected_timeline,ver_cus,ver_pro,ver_win_rate_x,ver_win_ratio_per_bu,business_area,business_subarea,lead_owner
0,0.00,brazil,id,0.069725,47466,endcustomer,enterprise,0.038020,0,0,0,consulting,0.001584,NaN,NaN,NaN,NaN,none,lgesp,NaN,1,0,0.001183,0.139558,retail,electronics&telco,278
1,0.25,unitedstates,it,NaN,5405,endcustomer,smb,NaN,0,0,0,NaN,0.017419,quotationorpurchaseconsultation,NaN,NaN,NaN,none,lgeus,NaN,0,0,0.000013,NaN,transportation,others,437
2,1.00,u.a.e,id,NaN,13597,specifier/influencer,smb,NaN,0,0,0,informationtechnology,0.108472,quotationorpurchaseconsultation,hospitaltv,ut662mseries,50ut662m(mea),manager,lgegf,lessthan3months,0,0,0.000060,0.436158,hospital&healthcare,generalhospital,874
3,0.50,unitedstates,id,0.115293,17204,NaN,enterprise,NaN,0,0,0,sales,0.001584,quotationorpurchaseconsultation,NaN,digitalsignageorcommercialtvs,NaN,none,lgeus,morethanayear,0,0,0.001183,0.139558,retail,NaN,194
4,1.00,brazil,id,0.071431,2329,endcustomer,enterprise,0.001435,1,0,1,engineering,0.083927,quotationorpurchaseconsultation,ledsignage,lgledbloc,lsaa012,others,lgesp,lessthan3months,1,1,0.003079,0.193276,corporate/office,engineering,167

In [22]:
train_x.head()

,bant_submit,customer_country,business_unit,com_reg_ver_win_rate,customer_idx,customer_type,enterprise,historical_existing_cnt,id_strategic_ver,it_strategic_ver,idit_strategic_ver,customer_job,lead_desc_length,inquiry_type,product_category,product_subcategory,product_modelname,customer_position,response_corporate,expected_timeline,ver_cus,ver_pro,ver_win_rate_x,ver_win_ratio_per_bu,business_area,business_subarea,lead_owner
0,1.0,philippines,as,0.063118,32160,end-customer,enterprise,0.000000,0,0,0,purchasing,0.048298,quotationorpurchaseconsultation,multi-split,0,0,entrylevel,lgeph,lessthan3months,1,0,0.003079,0.055676,corporate/office,engineering,0
1,1.0,philippines,as,0.063118,23122,end-customer,enterprise,0.008608,0,0,0,mediaandcommunication,0.075218,quotationorpurchaseconsultation,multi-split,0,0,ceo/founder,lgeph,lessthan3months,1,0,0.003079,0.055676,corporate/office,advertising,1
2,1.0,india,as,0.085425,1755,end-customer,enterprise,0.103300,0,0,0,engineering,0.043547,productinformation,single-split,0,0,partner,lgeil,lessthan3months,1,0,0.003079,0.055676,corporate/office,construction,2
3,1.0,india,as,0.085425,4919,end-customer,enterprise,0.000000,0,0,0,entrepreneurship,0.034046,quotationorpurchaseconsultation,vrf,0,0,ceo/founder,lgeil,lessthan3months,1,0,0.003079,0.055676,corporate/office,it/software,3
4,1.0,india,as,0.085425,17126,specifier/influencer,enterprise,0.000000,0,0,0,consulting,0.076010,quotationorpurchaseconsultation,multi-split,0,0,partner,lgeil,lessthan3months,0,0,0.003079,0.055676,corporate/office,0,4

In [23]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5271 entries, 0 to 5270
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   bant_submit              5271 non-null   float64
 1   customer_country         5271 non-null   object
 2   business_unit            5271 non-null   object
 3   com_reg_ver_win_rate     1788 non-null   float64
 4   customer_idx             5271 non-null   object
 5   customer_type            3814 non-null   object
 6   enterprise               5271 non-null   object
 7   historical_existing_cnt  1275 non-null   float64
 8   id_strategic_ver         5271 non-null   object
 9   it_strategic_ver         5271 non-null   object
 10  idit_strategic_ver       5271 non-null   object
 11  customer_job             3832 non-null   object
 12  lead_desc_length         5271 non-null   float64
 13  inquiry_type             3979 non-null   object
 14  product_category         3413 non-null   object
 15  product_subcategory      793 non-null    object
 16  product_modelname        562 non-null    object
 17  customer_position        5271 non-null   object
 18  response_corporate       5271 non-null   object
 19  expected_timeline        2863 non-null   object
 20  ver_cus                  5271 non-null   object
 21  ver_pro                  5271 non-null   object
 22  ver_win_rate_x           2373 non-null   float64
 23  ver_win_ratio_per_bu     1906 non-null   float64
 24  business_area            2373 non-null   object
 25  business_subarea         1816 non-null   object
 26  lead_owner               5271 non-null   object
dtypes: float64(6), object(21)
memory usage: 1.1+ MB

In [24]:
test_pred = best_classification_model.predict(x_test.fillna(0))
print(test_pred)
sum(int(pred == 1) for pred in test_pred)

[1 1 1 ... 0 0 1]

1495

### 제출 파일 작성

In [25]:
# 제출 데이터 읽어오기 (df_test는 전처리된 데이터가 저장됨)
df_sub = pd.read_csv("submission.csv")
df_sub["is_converted"] = test_pred

# 제출 파일 저장
df_sub.to_csv("submission.csv", index=False)

In [26]:
best_classification_model.get_feature_importance(prettified=True)

   Feature Id  Importances
0           4    16.194972
1          26    14.303832
2           5    13.396270
3          14     7.461719
4          18     6.798263
5           2     4.271937
6          12     4.187442
7           1     3.999803
8          13     3.775619
9          11     3.398308
10         24     3.238887
11          7     2.850345
12          6     2.174219
13         17     2.137776
14         25     2.021980
15          3     1.957575
16         19     1.677934
17         22     1.640307
18         15     1.296947
19         16     1.265711
20          0     0.661022
21         23     0.609094
22          8     0.481925
23         10     0.106778
24         20     0.054148
25         21     0.037188
26          9     0.000000

**우측 상단의 제출 버튼을 클릭해 결과를 확인하세요**